language: ruby
cache: bundler
branches:
  only:
    - master
script:
  - "bundle exec ruby bench.rb $HAML"
  - "BENCH_ALL=1 bundle exec ruby bench.rb $HAML"
matrix:
  include:
    - rvm: 2.1.10
      env: HAML=templates/slim_bench.haml
    - rvm: 2.2.6
      env: HAML=templates/slim_bench.haml
    - rvm: 2.3.3
      env: HAML=templates/slim_bench.haml
    - rvm: 2.4.0
      env: HAML=templates/slim_bench.haml
